
.card {
    border: none;
    border-radius: 8px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.logo {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: #f0f0f0; /* Placeholder color */
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.logo img{
    height: 50px;
    width: 50px;
    
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.locationOfCompany {
    font-size: 0.9rem;
}

.btnnn {
    width: 100%; /* Full width button */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .logo {
        width: 40px;
        height: 40px;
    }

    .title {
        font-size: 1.1rem;
    }

    .locationOfCompany {
        font-size: 0.8rem;
    }
}
