.container1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left, .right {
    height: auto;
    padding: 20px; 
}

.left {
    background-color: #0A65CC; 
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.2); 
}

.right {
    box-shadow: 0 4px 20px rgba(0, 0, 255, 0.2); 
}

.header1, .header2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header1 i, .header2 i {
    font-size: 60px;
}

.header1 span, .header2 span {
    font-size: 20px;
    color: gray;
    margin-left: 10px;
}

.bodytxt span {
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.social-buttons {
    margin-top: 20px;
}

.social-button {
    width: 100%;
    margin-bottom: 10px;
}

.body2 {
    display: flex;
    flex-direction: column;
}

.body2 label {
    margin: 10px 0 5px;
}

.body2 input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        align-items: stretch;
    }
}
